$color-back:#fdce16;
$color-bl:black;
$color-aa:#aaaaaa;
$color-ff:#fff;
$color-96:#969696;
$color-2c:#2c2c2c;

//사용변수
$back:$color-back;
$bl:$color-bl;
$aa:$color-aa;
$ff:$color-ff;
$sub:$color-96;
$cc:$color-2c;

$size-content:1220px;
$size-full:100%;
$size-normal:20px;
$size-small:10px;
$size-large:30px;

// 사용변수
$content:$size-content;
$full:$size-full;
$normal:$size-normal;
$small:$size-small;
$large:$size-large;

